<a href="https://colab.research.google.com/github/Yashfa54/EDA-AICP-Internship/blob/main/EDA_Task_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import pandas:**

In [ ]:
import pandas as pd

**Write pandas series code to get the output without using dictionary:**

In [ ]:
index = ['a','x', 'c','2','e']
value = [1, 4, 9, 6, 7]

series= pd.Series(value,index,dtype = 'int64')
print(series)

a    1
x    4
c    9
2    6
e    7
dtype: int64

**Write pandas series code to get the output using dictionary:**

In [ ]:
data = {'Bilal': 42 ,'Ayesha': 38 , 'Hadia': 39}
dtype = 'int64'

series = pd.Series(data,dtype=dtype)
print("Pandas Series:\n ", series)

Pandas Series:
  Bilal     42
Ayesha    38
Hadia     39
dtype: int64

**Write pandas dataframe to get the output using python dictionary**

In [ ]:
# Create a Python dictionary with data
data = {
    'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'],
    'temperature': [32, 35, 28, 24, 32, 31],
    'windspeed': [6, 7, 2, 7, 4, 2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny'],
}

# Create a Pandas DataFrame with custom index
df = pd.DataFrame(data)
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

**In extension to above question, replace index by ['a','b','c','d','e','f']**

In [ ]:
# Define custom index labels
index_labels = ['a', 'b', 'c', 'd', 'e','f']
df= pd.DataFrame(data, index=index_labels)
print(df)

        day  temperature  windspeed  event
a  1/1/2017           32          6   Rain
b  1/2/2017           35          7  Sunny
c  1/3/2017           28          2   Snow
d  1/4/2017           24          7   Snow
e  1/5/2017           32          4   Rain
f  1/6/2017           31          2  Sunny

**In extension to Q.3, calculate mean, maximum and minimum for label “temperature”**

In [ ]:
# Calculate mean, maximum and minimum for label "Temperature"
temperature_mean = df['temperature'].mean()
temperature_max = df['temperature'].max()
temperature_min = df['temperature'].min()

print("Mean temperature:", temperature_mean)
print("Maximum temperature:", temperature_max)
print("Minimum temperature:", temperature_min)

Mean temperature: 30.333333333333332
Maximum temperature: 35
Minimum temperature: 24

**Import ‘people.csv’. Import only specific columns ["First Name", "Sex", "Email", “Phone”, “Job Title”]. Set columns ["Sex", "Job Title"] as index columns. Skip rows [1,5]. Export the CSV as “NewPeople.csv”**

In [ ]:
# Define columns to be imported
columns_to_import = ["First Name", "Sex", "Email", "Phone", "Job Title"]

# Define index columns
index_columns = ["Sex", "Job Title"]

# Define rows to skip
rows_to_skip = [1, 5]

# Import CSV file while skipping specified rows
df = pd.read_csv('people.csv', usecols=columns_to_import, skiprows=rows_to_skip)

# Set index columns
df.set_index(index_columns, inplace=True)

# Export DataFrame to CSV
df.to_csv('NewPeople.csv')

print("NewPeople.csv has been created successfully.")
print(df)

NewPeople.csv has been created successfully.
                                First Name                       Email  \
Sex    Job Title
Female Phytotherapist              Phillip       bethany14@example.com
Male   Homeopath                  Kristine       bthompson@example.com
       Market researcher           Yesenia   kaitlinkaiser@example.com
       Waste management officer       Erin         tconner@example.org
Female Intelligence analyst      Katherine     conniecowan@example.com
...                                    ...                         ...
       Software engineer            Dennis         bmartin@example.org
       Barrister                     Steve       latasha46@example.net
Male   Police officer               Wesley        regina11@example.org
Female Broadcast journalist         Summer  alexiscantrell@example.org
Male   IT sales professional        Mariah       pcopeland@example.org

                                                 Phone
Sex    Job Title
Female Phytotherapist                214.112.6044x4913
Male   Homeopath                          277.609.7938
       Market researcher                  584.094.6111
       Waste management officer  001-171-649-9856x5553
Female Intelligence analyst      +1-773-151-6685x49162
...                                                ...
       Software engineer          001-095-524-2112x257
       Barrister                      001-865-478-5157
Male   Police officer               995-542-3004x76800
Female Broadcast journalist       001-273-685-6932x092
Male   IT sales professional       (341)594-6554x44657

[98 rows x 3 columns]

**Import ‘SampleWork.xlsx’. Import sheet 1. Import only first and last column from sheet 1. Skip row 2 while importing the sheet. Set row 2 as header. Export as new sheet.**

In [ ]:
# Define columns to be imported
columns_to_import = [0, -1]

# Define header row
header_row = 1

# Define rows to skip
rows_to_skip = [1]

# Import Excel sheet while skipping specified rows and selecting specific columns
df = pd.read_excel('SampleWork.xlsx', sheet_name=0, usecols=columns_to_import, skiprows=rows_to_skip, header=header_row)

# Export DataFrame to a new sheet in the same Excel file
with pd.ExcelWriter('SampleWork.xlsx', engine='openpyxl', mode='a') as writer:
      df.to_excel(writer, sheet_name='NewSheet', index=False)

print("New sheet 'NewSheet' has been created successfully in 'SampleWork.xlsx'.")
print(df)

New sheet 'NewSheet' has been created successfully in 'SampleWork.xlsx'.
    Bilal
0  Sufyan
1   Saiqa
2   Aimen

**Create the following dataframe as AICP_DF. Select 'Name', 'Qualification' coloumns and save to df1. Add a new column to AICP_DF “Height” with the following values: [5.1, 6.2, 5.1, 5.2,5.1]. Set column “Name” as the index column. Retrieve row with index “Hifza. Retrieve row with index 3. Drop row with index “Bilal”**

In [ ]:
data = {
    'Name': ['Sonia', 'Bilal', 'Hifza', 'Kabir', 'Jazim'],
    'Age': [27, 24, 22, 32, 23],
    'Qualification': ['Msc', 'MA', 'MCA', 'Phd', 'bsc'],
    'Address': ['Lahore', 'Karachi', 'Sialkot', 'Peshawar', 'Lhr']
}

AICP_DF = pd.DataFrame(data)
print("Original DataFrame AICP_DF:")
print(AICP_DF)

# Select 'Name' and 'Qualification' columns and save to df1
df1 = AICP_DF[['Name', 'Qualification']]
print("\nDataFrame df1:")
print(df1)

# Add a new column "Height" to AICP_DF
height_values = [5.1, 6.2, 5.1, 5.2, 5.1]
AICP_DF['Height'] = height_values
print("\nUpdated DataFrame AICP_DF with 'Height' column:")
print(AICP_DF)

# Set column "Name" as the index column
AICP_DF.set_index('Name', inplace=True)
print("\nDataFrame AICP_DF with 'Name' as index:")
print(AICP_DF)

# Retrieve row with index "Hifza"
row_hifza = AICP_DF.loc['Hifza']
print("\nRow with index 'Hifza':")
print(row_hifza)

# Retrieve row with index 3
row_index_3 = AICP_DF.iloc[2]  # Index 2 corresponds to the third row (0-based indexing)
print("\nRow with index 3:")
print(row_index_3)

# Drop row with index "Bilal"
AICP_DF.drop(index='Bilal', inplace=True)
print("\nDataFrame AICP_DF after dropping row with index 'Bilal':")
print(AICP_DF)

Original DataFrame AICP_DF:
    Name  Age Qualification   Address
0  Sonia   27           Msc    Lahore
1  Bilal   24            MA   Karachi
2  Hifza   22           MCA   Sialkot
3  Kabir   32           Phd  Peshawar
4  Jazim   23           bsc       Lhr

DataFrame df1:
    Name Qualification
0  Sonia           Msc
1  Bilal            MA
2  Hifza           MCA
3  Kabir           Phd
4  Jazim           bsc

Updated DataFrame AICP_DF with 'Height' column:
    Name  Age Qualification   Address  Height
0  Sonia   27           Msc    Lahore     5.1
1  Bilal   24            MA   Karachi     6.2
2  Hifza   22           MCA   Sialkot     5.1
3  Kabir   32           Phd  Peshawar     5.2
4  Jazim   23           bsc       Lhr     5.1

DataFrame AICP_DF with 'Name' as index:
       Age Qualification   Address  Height
Name
Sonia   27           Msc    Lahore     5.1
Bilal   24            MA   Karachi     6.2
Hifza   22           MCA   Sialkot     5.1
Kabir   32           Phd  Peshawar     5.2
Jazim   23           bsc       Lhr     5.1

Row with index 'Hifza':
Age                   22
Qualification        MCA
Address          Sialkot
Height               5.1
Name: Hifza, dtype: object

Row with index 3:
Age                   22
Qualification        MCA
Address          Sialkot
Height               5.1
Name: Hifza, dtype: object

DataFrame AICP_DF after dropping row with index 'Bilal':
       Age Qualification   Address  Height
Name
Sonia   27           Msc    Lahore     5.1
Hifza   22           MCA   Sialkot     5.1
Kabir   32           Phd  Peshawar     5.2
Jazim   23           bsc       Lhr     5.1